.text-white{
    color: #ffffff;
}

.text-grey{
    color: #3D3D3D;
}

.cheeky-pink{
    background-color: #E9AFAF;
}

.cool-green{
    background-color: #AFE9AF
}

.neat-blue{
    background-color: #90CAF9
}

.current{
    background-color: #FFF4CB
}

nav{
    background: none;
}

.logo{
    height: 75%;
    padding-left: 10px;
    margin-top: 6px;
}

.lower-nav{
    box-shadow: none;
    margin-top: 10px;
    line-height: 3;
    height: 50px;
}

.profile-header{
    margin: 0.52rem 0 .912rem 0;
}

.content{
    border-radius: 5px;
    padding: 15px;
}

.card-link {
    transition: background 0.5s;
    padding: 15px;
    padding-left: 25px;
    color: black;
}

.card-link:hover {
    transition: background 0.5s;
    background-color: #ffcdd2;
    /*color:white;*/
    
}

.link-bold{
    font-weight: bold;
}

.text-bold{
    transition: all 0.5s;
    font-weight: bold;
}

.quote{
    text-align:center;
    font-style: italic;
    font-weight: bold;
    color: #E9AFAF;
    font-size: 20px;
}


footer{
    margin-top: 10px;
    text-align: center;
}