/*Body, headers and others*/
body{
    font-size: 3.5rem;
    background-color: #F1EFEF;

}

h1{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

p.flow-text{
    font-size: 3.5rem;
}

/*Colours*/
.text-white{
    color: #ffffff;
}

.text-grey{
    color: #3D3D3D;
}

.cheeky-pink{
    background-color: #E9AFAF;
}

.cheeky-pink-text{
    color: #E9AFAF;
}

.cool-green{
    background-color: #AFE9AF
}

.neat-blue{
    background-color: #90CAF9
}

.current{
    background-color: #FFF4CB
}

.star-row{
    color: #3D3D3D;
    font-weight: bold;
}

/*Container and navs*/
.container{
    width: 100%;
}

nav.hide-on-large-only{
    height: 130px;
}

nav{
    background: none;
}

ul#slide-out{
    width: 90%;    
}

.sidenav .user-view .circle{
    height:8rem;
    width: auto;
}

.sidenav li>a {
    font-size: 7rem;
    height: 8rem;
}

i.material-icons.cheeky-pink-text {
    font-size: 9rem !important;
    line-height: 130px;
}

.nav-bar-title{
    font-size: 8rem;
    height:9rem;
    line-height:7rem;
}

.lower-nav{
    box-shadow: none;
    margin-top: 10px;
    line-height: 3;
    height: 50px;
}

.profile-header{
    margin: 0.52rem 0 .912rem 0;
}

/*Logo*/
.logo{
    height: 75%;
    padding-left: 10px;
    margin-top: 6px;
}

.brand-logo{
    margin:auto;
    width: 120px;
    height: auto;
}

/*Page content - cards, links, buttons*/
.content{
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

img.thumb{
    height: 120px;
    width: 100px;
    margin-top: 15px;
}

.card-link {
    transition: background 0.5s;
    padding: 15px;
    padding-left: 25px;
    color: black;
}

.card-link:hover {
    transition: background 0.5s;
    background-color: #ffcdd2;
    /*color:white;*/
    
}

.link-bold{
    font-weight: bold;
}

.text-bold{
    transition: all 0.5s;
    font-weight: bold;
}

a.btn{
    margin-top: 4px;
}

i.fa-heart {
    font-size: 2rem;
}

.quote{
    text-align:center;
    font-style: italic;
    font-weight: bold;
    color: #E9AFAF;
    font-size: 20px;
}

td, tr{
    font-size: medium;
}

.code{
    background-color: #F1EFEF;
}

/*Footer*/
footer{
    margin-top: 10px;
    text-align: center;
}

/*Small and med screens*/
@media only screen and (max-width: 993px){
    .btn {
    margin-top: 4px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    line-height: 100px;
}

input.form-element{
    height: 8rem;
    font-size:3rem!important;
}

.quote{
    font-size: 4rem;
}

td, tr{
    font-size: 4rem;
}


i.material-icons{
  font-size:5rem;  
}
}

/*Large screens*/
@media only screen and (min-width: 993px){
.container {
    width: 70%;
}
body {
    font-size: 1rem;
}

}

