<!DOCTYPE>
<HTML>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div class="container">
  <nav>
    <div class="nav-wrapper white">
      <a class="left" href="{{url_for('items')}}" class="brand-logo"><img src="https://raw.githubusercontent.com/Pattern-Projects/suggestive-dcd-project/master/assets/images/logo-no-bg.png" alt="suggestive logo - pink circle with curved line suggesting a face with a smile"/></a>
      <ul id="nav" class="right red lighten-3">
        <li><a href="{{url_for('items')}}">Books</a></li>
        <li><a href="{{url_for('reading')}}">Reading</a></li>
        <li><a href="{{url_for('reviews')}}">Reviews</a></li>
        <li><a href="{{url_for('sign_up_page')}}">Sign Up</a></li>
      </ul>
    </div>
  </nav>
    
  {% block content %} {% endblock %}
  </div>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

      });   
    </script>
</body>

</HTML>