<!DOCTYPE>
<HTML>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div class="container">
  <nav>
    <div class="nav-wrapper white">
      <a class="left" href="{{url_for('home')}}" class="brand-logo"><img src="https://raw.githubusercontent.com/Pattern-Projects/suggestive-dcd-project/master/assets/images/logo-no-bg.png" alt="suggestive logo - pink circle with curved line suggesting a face with a smile"/></a>
      <ul id="nav" class="right red lighten-3">
        <li><a href="{{url_for('home')}}">Lists</a></li>
        <li><a href="{{url_for('myinfo')}}">My List</a></li>
        {% if 'username' in session %}
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
        {% else %}
        <li><a href="{{url_for('login')}}">Login/Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
  {{ session['username'] }}
  {% block content %} {% endblock %}
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

      });   
      
      M.AutoInit();
    </script>
</body>

</HTML>