{% macro box(page='items') -%}

    <div class="card"> 

        <strong>{{item.title}}</strong>
        <p>{{item.author}}</p>
        <p>Favorites: {{item.favorites | length}}<p>

        {% if page != 'reviews'  %}
            {{ favorite(page='items') }}
        {% endif %}
    
        {% if page == 'items' %}
            {{ itemspage() }}
        {% endif %}

        {% if page == 'reading' %}
            {{ readingpage() }}
        {% endif %}

        <p><strong>Stars:</strong>{{item.stars}}</p>
        <p>{{ item.review }}</p>
        
        <a href="{{ url_for('delete', item_id=item._id)}}">Delete</a>


    </div>

{%- endmacro %}


{% macro favorite(page) %}
        {% if 'John' not in item.favorites %}
            <a href="{{ url_for('favorite', page=page ,  item_id=item._id )}}" >Favorite</a></br>
        {% else %}
            <a href="{{ url_for('unfavorite', page=page , item_id=item._id) }}">Unfavorite</a></br>
        {% endif %}

{% endmacro %}


{% macro itemspage() %}
        {% if item.reading %}
            <a href="{{ url_for('remove_reading', item_id=item._id )}}" >Reading</a></br>
        {% else %}
            <a href="{{ url_for('add_reading', item_id=item._id)}}" >Add to Reading</a>
        {% endif %}
        
        <a href="{{ url_for('delete', item_id=item._id)}}">Delete</a>

{% endmacro %}


{% macro readingpage() %}
        {% if item.status == 'current' %}
            <a href="{{ url_for('complete', item_id=item._id )}}" >Complete</a>
        {% else %}
            <a href="{{ url_for('add_current', item_id=item._id)}}" >Add to Current</a>
        {% endif %}

{% endmacro %}
