{% macro box(page='items') -%}

    <div class="card"> 

        <strong>{{item.title}}</strong>
        <p>{{item.author}}</p>
        <p><strong>Stars:</strong>{{item.stars}}</p>
        <p>{{ item.review }}</p>
        <p>Favorites: {{item.favorites | length}}<p>
        
        
        {% if 'John' not in item.favorites %}
            <a href="{{ url_for('favorite', page=page ,  item_id=item._id )}}" >Favorite</a></br>
        {% else %}
            <a href="{{ url_for('unfavorite', page=page , item_id=item._id) }}">Unfavorite</a></br>
        {% endif %}
        
        {{ itemspage(page) }}

    </div>
{%- endmacro %}


{% macro itemspage(text='hi') %}
    Start of itemspage()
        {% if item.reading %}
            <a href="{{ url_for('remove_reading', item_id=item._id )}}" >Reading</a></br>
        {% else %}
            <a href="{{ url_for('add_reading', item_id=item._id)}}" >Add to Reading</a>
        {% endif %}
        
        <a href="{{ url_for('delete', item_id=item._id)}}">Delete</a>

{% endmacro %}