{% macro box(page='items') -%}

    <div class="card red lighten-4"> 
        <small>{{ item.status }}</small></br>
        <strong>{{item.title}}</strong>
        <p>{{item.author}}</p>
        <p>Favorites: {{item.favorites | length}}<p>

        {% if 'username' in session %}
                
            {% if page == 'items' %}
                {{ favorite(page='items') }}
                {{ itemspage(page='items') }}
            {% endif %}
    
            {% if page == 'reading' %}
                {{ favorite(page='reading') }}
                {{ readingpage(page='reading') }}
            {% endif %}
    
            {% if page == 'reviews' %}
                {{ reviewspage(page='reviews') }}        
            {% endif %}
            <a href="{{ url_for('delete', list_profile=list_profile,  page=page, item_id=item._id)}}">Delete</a></br>

        {% endif %}
        {% if item.complete %}
            ---------------------------------</br>
            {{item.stars}}</br>
            {{ item.review }}</br>
        {% endif %}


    </div>

{%- endmacro %}


{% macro favorite(page) %}
        {% if session['username'] not in item.favorites %}
            <a href="{{ url_for('favorite', list_profile=list_profile, page=page,   item_id=item._id )}}" >Favorite</a></br>
        {% else %}
            <a href="{{ url_for('unfavorite', list_profile=list_profile, page=page, item_id=item._id) }}">Unfavorite</a></br>
        {% endif %}
        
{% endmacro %}


{% macro itemspage(page) %}
        {% if item.status == 'reading' %}
            <a href="{{ url_for('set_status', list_profile=list_profile, page=page, status='suggested', item_id=item._id)}}" >Reading</a></br>
        {% else %}
            <a href="{{ url_for('set_status', list_profile=list_profile, page=page, status='reading', item_id=item._id)}}" >Add to Reading</a></br>
        {% endif %}
        

{% endmacro %}


{% macro readingpage(page) %}
        {% if item.status == 'current' %}
            <a href="{{ url_for('set_status', list_profile=list_profile, page=page, status='reading', item_id=item._id)}}" >Remove from Current</a></br>
            <a href="{{ url_for('complete', list_profile=list_profile, item_id=item._id )}}" >Complete</a></br>
        {% else %}
            <a href="{{ url_for('set_status', list_profile=list_profile, page=page, status='suggested', item_id=item._id)}}" >Remove from Reading</a></br>
            <a href="{{ url_for('set_status', list_profile=list_profile, page=page, status='current', item_id=item._id)}}" >Add to Current</a></br>
        {% endif %}

{% endmacro %}

{% macro reviewspage(page) %}
        <a href="{{ url_for('set_status', list_profile=list_profile, page=page, status='suggested', item_id=item._id)}}" >Suggest Again</a></br>
{% endmacro %}
