{% extends 'base.html'%} {% block content %}
<title>Suggestive</title>

<h1>Welcome to Suggestive!</h1>
<p class="flow-text">A book suggestion website</p>
<div class="card content">
<h4>Public Lists</h4>
<p>Browse these public lists and suggest books for the owners.</p>
{% if not session['username'] %}
<p>Open a list or <a class="link-bold" href="{{url_for('login')}}">Login</a> to make your own</p>
{% else %}
<p>Open your own: <a class="link-bold" href="{{url_for('myinfo')}}">My List</a></p>
{% endif %}
<div class="row">
{% for user in users %}
    
    <a class="col-12" href="{{url_for('info', list_profile=user.username)}}"><div class="card card-link"> 
        <h5>{{ user.username }}</h5>
        <p>{{ user.blurb }}</p>
    </div></a>
{% endfor %}
</div>
{% endblock %}
</div>