{% extends 'tabs.html'%} {% block list_content %}
<title>{{ list_profile }} - Info</title>

<h2>Info</h2>
<p>Welcome to the home of {{ list_profile }}</p>

{% for profile in profiles %}
    {{ profile.blurb }}

{% if list_profile == session['username'] %}

<div class="row">
    <form action="{{ url_for('update_info', list_profile=list_profile) }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Blurb" name="blurb" type="text" class="validate">
          <label for="blurb">Blurb</label>
        </div>

        <div class="switch">
        <label>
          Private
          <input type="checkbox" name="public" {% if profile.public == 'on' %}checked{% endif %}>
          <span class="lever"></span>
          Public
        </label>
      </div>

    </div>
    <div class="row">
        <button class="btn waves-effect waves-light red lighten-3 right" type="submit">Save
            <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>

{% endif %}
{% endfor %}

{% endblock %}
