<!--Extends tabs-->
{% extends 'tabs.html'%} {% block list_content %}

<!--Seen by all users-->
<title>{{ list_profile }} - Info</title>
<div class="card content left">

<h2>Info</h2>
<p>Welcome to the home of {{ list_profile }}! Here you can see the books suggested, waiting to read and reviews for books completed. Feel free to suggest a book. {{ list_profile }}'s quote will give you an idea of the kinds of books they enjoy. Happy reading.</p>

{% for profile in profiles %}
    <p class="quote">{% if profile.blurb %}"{{ profile.blurb }}"{% endif %}</p>
<table>
        <tbody>
          <tr>
            <td>Account:</td>
            <td>{% if profile.public == 'on' %}Public{% else %}Private{% endif %}</td>
          </tr>
          <tr>
            <td>Books Suggested:</td>
            <td>{{ suggested }}</td>
          </tr>
          <tr>
            <td>Complete: </td>
            <td>{{ complete }}</td>
          </tr>
        </tbody>
      </table>
            
<a class="text-bold cheeky-pink waves-effect waves-light btn mx-auto col-12 col-lg-4" href="{{url_for('suggest', list_profile = list_profile)}}" >Suggest a book</a></br>
</div>

<div class="card content">
<h4>
Share {% if list_profile == session['username'] %}your{% else %}this{% endif %} page:
</h4>

<p class="center code">http://suggestive-dcd-project.herokuapp.com/info/{{ list_profile }}</p>
</div>

<!--Seen by owner of list-->
{% if list_profile == session['username'] %}
<div class="card content col-12">
<h4>Make Changes</h4>
<div class="row col-12 p-0">
    <form action="{{ url_for('update_info', list_profile=list_profile) }}" method="POST" class="col-12 p-0">
      
      <div class="row">
        <div class="input-field  col-12">
          <input placeholder="Write a blurb" value="{{ profile.blurb }}" name="blurb" type="text" class="validate">
          <label for="blurb">Write a blurb for your page</label>
        </div>
      </div>
      
      <div class="row  d-flex justify-content-center">
        <div class="switch text-center">
          <label>
            Private
            <input type="checkbox" name="public" {% if profile.public == 'on' %}checked{% endif %}>
            <span class="lever"></span>
            Public
          </label>
        <p>Public pages will appear on the home page</p>
      </div>
    </div>
    
    <div class="row">
        <button class="btn waves-effect waves-light red lighten-3 mx-auto  col-12 col-lg-4" type="submit">Save
            <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>
</div>

<!--Delete the logged in user and logout-->
<div class="card content">
  <h4>Delete Profile</h4>
  <p>If you are finished using the site, you can delete your information forever. All books suggested to you will be deleted too. Books you suggested to others will remain.</p>
  <a class="waves-effect waves-light btn modal-trigger red mx-auto col-12 col-lg-4" href="#modal1">Delete Profile</a><br>
  <label class="mx-auto">The danger button</label>
</div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Delete Profile</h4>
      <p>Are you sure you want to delete your account?
      You will lose all your suggested books.</p>
    </div>
    <div class="row modal-footer">
      <a href="{{ url_for('delete_user', user_id=profile._id)}}" class="modal-close waves-effect waves-green btn-flat red white-text col-12 col-lg-4 text-center">Delete</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat  col-12 col-lg-4 text-center">Cancel</a>
    </div>
  </div>

{% endif %}
{% endfor %}

{% endblock %}
