{% extends 'tabs.html'%} {% block list_content %}
<title>{{ list_profile }} - Suggested</title>

<div class="card content">
<h2>Suggested</h2>

<p>List of suggested books for {{ list_profile }} to read. If you would like {{ list_profile }} to read on of these books be sure to add a favorite to move it up the list.</p>

{% for profile in profiles %}
    <p class="quote">{% if profile.blurb %}"{{ profile.blurb }}"{% endif %}</p>
{% endfor %}

<a class="text-bold cheeky-pink waves-effect waves-light btn" href="{{url_for('suggest', list_profile = list_profile)}}" >Suggest a book</a></br>

{% for item in items %}

    {% import 'card.html' as card with context %}
    {{ card.suggested('items') }}

{% endfor %}

</div>

{% endblock %}
