{% extends 'tabs.html'%} {% block list_content %}
<title>{{ list_profile }} - Suggested</title>

<div class="card content">
<h2>Suggested</h2>

<p>List of suggested books for {{ list_profile }}</p>

{% for profile in profiles %}
    <p>{{ profile.blurb }}</p>
{% endfor %}

<a class="waves-effect waves-light btn" href="{{url_for('suggest', list_profile = list_profile)}}" >Add Suggestion</a></br>

{% for item in items %}

    {% import 'card.html' as card with context %}
    {{ card.box('items') }}

{% endfor %}

</div>

{% endblock %}
