{% extends 'base.html'%} {% block content %}

<h2>Reading</h2>
{% for item in reading %}
    <div class="card"> 
        <strong>{{item.title}}</strong>
        <p>{{item.author}}</p>
        <p>Favorites: {{item.favorites | length}}<p>
        {% for favorite in item.favorites %}
            {% if favorite == "John" %}<p>Unfavorite</p></br>{% endif %}
        {% endfor %}
        
        {% if item.status == 'current' %}
            <a href="{{ url_for('complete', item_id=item._id )}}" >Complete</a>
        {% else %}
            <a href="{{ url_for('add_current', item_id=item._id)}}" >Add to Current</a>
        {% endif %}
        
    </div>
{% endfor %}
{% endblock %}
