<!--Extends tabs-->
{% extends 'tabs.html'%} {% block list_content %}
<title>{{ list_profile }} - Reviews</title>

<div class="card content">
<h2> Reviews</h2>
<p>Books {{ list_profile }} has read and written a review for. If you think they should read it again be sure to click 'Suggest Again'.</p>

<a class="text-bold cheeky-pink waves-effect waves-light btn col-12 col-lg-4" href="{{url_for('suggest', list_profile = list_profile)}}" >Suggest a book</a></br>

<!--Display reviewd books-->
{% for item in reviews %}
    
    {% import 'card.html' as card with context %}
    {{ card.reviews('reviews') }}
    
{% endfor %}
</div>
{% endblock %}
