{% extends 'base.html'%}{% block content %}
<nav>
    <div class="nav-wrapper white">
      <strong class="left black-text">{{ list_profile }}</strong>
      <ul id="nav" class="right blue lighten-3">
        <li><a href="{{url_for('info', list_profile = list_profile)}}">Info</a></li>
        <li><a href="{{url_for('items', list_profile = list_profile)}}">Suggested</a></li>
        <li><a href="{{url_for('reading', list_profile = list_profile)}}">Reading</a></li>
        <li><a href="{{url_for('reviews', list_profile = list_profile)}}">Reviews</a></li>
      </ul>
    </div>
  </nav>

{% block list_content %}{% endblock %}

{% endblock %}
