<!-- Tabs for book list list-->

<!--Extends Base-->
{% extends 'base.html'%}{% block content %}
<nav class="lower-nav hide-on-med-and-down">
    <div class="nav-wrapper">
      <h4 class="left black-text profile-header">{{ list_profile }}'s Profile</h4>
      <ul id="nav" class="text-bold right neat-blue lighten-3">
        <li><a href="{{url_for('info', list_profile = list_profile)}}">Info</a></li>
        <li><a href="{{url_for('items', list_profile = list_profile)}}">Suggested</a></li>
        <li><a href="{{url_for('reading', list_profile = list_profile)}}">Reading</a></li>
        <li><a href="{{url_for('reviews', list_profile = list_profile)}}">Reviews</a></li>
      </ul>
    </div>
  </nav>

<!--Extends here - Page data rendered after this point-->
{% block list_content %}{% endblock %}

{% endblock %}
